@use 'vars';

.mobile-menu {
    padding: 24px;
    display: block;
    position: fixed;
    background-color: white;
    z-index: 100;
    width: 100%;
    bottom: 0;
}
.mobile-menu-close {
    right: 30px;
    display: block;
    position: fixed;
    cursor: pointer;
}
.mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    /* margin-bottom: 24px; */
}
.mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
}
.mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
}
.mobile-menu ul li {
    margin-bottom: 24px;
}
.mobile-menu-email {
    font-size: var(--sm);
    font-weight: 300 !important;
}
.mobile-menu-sign-out {
    color: var(--hospital-green) !important;
    font-size: var(--sm);
}
.mobile-menu-email-and-sign-out {
    position: absolute;
    bottom: 0;
}
