@use 'vars';

.NotFound {
    display: grid;
    place-content: center;
    text-align: center;
}
.NotFound h1 {
    font-size: 300px;
    margin-top: 50px;
    margin-bottom: 10px;

}
.NotFound h2 {
    margin-top: 10px;
    font-size: 50px;
}